#timeline {
	border-top: solid 1px #ddd; 
	position: relative;
}
#timeline div {
	margin: 0em;
	padding: 0em;
}

#timeline .month {
	height: 8px; 
	width: 1px; 
	background-color:#ddd; 
	position: absolute;
}

#timeline .year {
	height: 12px;
	width: 1px;
	background-color:#ddd;
	position: absolute;
}

#timeline .event_wrapper { 
	position: absolute;
}

#timeline .event_wrapper .event_tick {
	height: 15px;
	width: 1px; 
	background-color:#681;
	position: relative;
	left: 0;
}

#timeline .event_wrapper .event_content { 
	display:none;
	width: 1000px; 
	position:absolute; 
	top: 24px; 
	text-align:center; 
	left:-500px; 
	color: #999; 
	font-size: 0.9em;
}

#timeline .event_wrapper .mouse_catcher {
	z-index: 1;
	width: 10px;
	height: 15px;
	position: absolute;
	left: -5px;
	top: 0px;
	background-color: black;
	opacity: 0;
}
